@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h1 {
    color: #21233d;
}

h2 {
    color: #21233d;
}

section {
    padding-left: 20vw;
    padding-right: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    padding-left: 3rem;
    padding-right: 3rem;
}

.nav-toggle {
    display: none;
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 1rem;
}

.nav-toggle .bar {
    display: block;
    width: 24px;
    height: 2px;
    margin: 4px 0;
    background: #21233d;
}

.sr-only {
    position: absolute;
    width: 1rem;
    height: 1rem;
    padding: 0;
    margin: -1rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.hero {
    text-align: left;
    height: calc(100vh - 6rem);
}

.hero p {
    font-size: large;
    margin-top: 0rem;
}

nav {
    height: 100%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0rem;
}

nav ul li {
    padding: 2rem;
}

a {
    text-decoration: none;
    color: black;
    font-size: large;
}

a.active {
    color: #cf4545;
}

a:hover {
    color: #cf4545;
}

.home-icon img {
    width: 24px;
    height: 24px;
}

.home-icon:hover img {
    filter: brightness(0) saturate(100%) invert(48%) sepia(79%) saturate(2476%)
        hue-rotate(336deg) brightness(100%) contrast(101%);
}

.home-icon img.active {
    filter: brightness(0) saturate(100%) invert(48%) sepia(79%) saturate(2476%)
        hue-rotate(336deg) brightness(100%) contrast(101%);
}

.hero-title-and-photo {
    display: flex;
    justify-content: space-around;
}

.hero-title-and-photo a {
    padding: 0.8rem;
    border-radius: 5px;
    background-color: #cf4545;
    width: max-content;
    color: rgb(255, 255, 255);
}

.hero-title-subtitle {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.circle-img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 50%;
    align-self: center;
    box-shadow: -6px 10px 1px 2px #b6e5f07c;
}

.section-headers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 1rem;
}

.section-headers a {
    color: #075e74;
    font-size: 0.98rem;
}

.section-headers h2 {
    font-size: 1.2rem;
    font-weight: 300;
}

.background-secondary {
    background-color: #edf6f9;
}

.card-group {
    display: flex;
}

.post-card {
    background-color: white;
    padding: 0rem 1rem;
    margin: 1rem;
    border-radius: 7px;
}

.post-card span {
    font-size: 0.9rem;
}

.content-summary {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(168, 168, 168);
    padding: 0rem 1rem;
    height: 25rem;

    img {
        width: 20rem;
        height: 15rem;
        border-radius: 5px;
        object-fit: cover;
    }
}

.content-summary-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
}

.content-summary-content .year {
    background-color: #132850;
    color: white;
    font-weight: 700;
    padding: 0.35rem;
    border-radius: 14px;
}

.content-summary-content .work-type {
    padding: 0.35rem;
    color: rgb(101, 111, 112);
}

.blog-content-summary {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(168, 168, 168);
    padding: 0rem 1rem;
    height: 15rem;
}

.blog-content-summary img {
    width: 20%;
    height: 50%;
    border-radius: 5px;
    object-fit: cover;
}

.blog-content-summary .blog-content-summary-content {
    padding: 1rem 0rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.blog-content-summary .blog-content-summary-content .year {
    color: #132850;
    padding: 6px;
    border-radius: 20px;
}

.blog-content-summary .blog-content-summary-content .work-type {
    padding: 4px;
    color: rgb(101, 111, 112);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    color: #132850;
}

footer .logos {
    display: flex;
}

footer span {
    padding: 1rem;
    color: #132850;
}

@media (orientation: portrait) {
    .nav-toggle {
        display: block;
    }

    header {
        position: relative;
        height: calc(100vh - 46rem);
    }

    section {
        padding-left: 12vw;
        padding-right: 12vw;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        display: none;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 1vh 0;
        background-color: white;
    }

    nav ul li {
        padding: 2vh;
    }

    header.nav-open nav {
        display: block;
    }

    .hero {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }

    .hero-title-and-photo {
        display: flex;
        flex-direction: column-reverse;
    }

    .hero-title-and-photo .hero-title-subtitle {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .hero-title-and-photo a {
        align-self: center;
    }

    .card-group {
        display: flex;
        flex-direction: column;
    }

    .content-summary {
        align-items: center;
        flex-direction: column;
        height: max-content;
        padding-top: 10vw;
    }

    .content-summary img {
        width: 25vh;
        height: 20vh;
        border-radius: 5px;
        object-fit: cover;
    }

    .content-summary .content-summary-content {
        flex-direction: column;
    }

    .blog-content-summary {
        align-items: center;
        flex-direction: column;
        height: max-content;
    }

    .blog-content-summary img {
        width: 80%;
        height: 80%;
        border-radius: 5px;
        object-fit: cover;
    }
}
